* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
body {
  padding: 0;
  margin: 0;
  padding-top: 100px;
}
.top-header {
  background-image: linear-gradient(#10BBD5 0%, #10BBD5 75%, #FFF 75%, #fff 100%);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
.bottomheader {
  position: fixed;
  top: 68px;
  z-index: 100;
  width: 100%;
  background-color: white;
}
.main-header {
  display: flex;
  height: 72px;
  background-color: #10BBD5;
  justify-content: space-between;
  align-items: center;
}
.main-header__logo {
  padding-left: 52px;
}
.cartbtn {
  padding-right: 52px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top: -7px;
  right: 22px;
  .cartbtn__icon {
    position: relative;
    bottom: 7px;
  }
  .cartbtn__sum {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    position: relative;
    right: 44px;
    top: 33px;
  }
  .cartbtn__itemqnt {
    position: relative;
    right: -4px;
    top: 14px;
    z-index: 1;
    color: #000;
    font-family: Cabin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
  }
}

.extra-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.extra-header__menu {
  display: flex;
  list-style: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 52px;
  .extra-header__menu-item {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 40px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

.extra-header__sort {
  color: #000;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 52px;
}
main {
  background-color: #EEEEEF;
  padding-bottom: 120px;
}
.main-wraper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  row-gap: 32px;
}
.main-title {
  color: #1F1F1F;
  font-family: Cabin;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding-top: 32px;
  padding-bottom: 23px;
  padding-left: 52px;
  border-bottom: 1px solid #A8A8A8;
  margin-bottom: 25px;
}
.item-listing {
  width: 306px;
  height: 512px;
  background-color: white;
  padding-top: 32px;
  border: 1px solid #A8A8A8;
  a {
    text-decoration: none;
  }
  &__image {
    width: 178px;
    height: 280px;
    display: block;
    margin: 0 auto;
  }
}

.item-listing__book-title {
  display: block;
  width: 241px;
  margin: 0 auto;
  color: #1F1F1F;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Cabin;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding-top: 16px;
  border-bottom: 1px solid  #8E8E8E;
}
.item-listing__author-name {
  display: block;
  width: 241px;
  margin: 0 auto;
  color: #8E8E8E;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.item-listing__new-price {
  display: block;
  width: 241px;
  margin: 0 auto;
  color: #E90000;
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.item-listing__old-price {
  color: #8E8E8E;
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-left: 24px;
  text-decoration: line-through;
}
.item-listing__label--hit {
  position: relative;
  top: -381px;
  left: 32px;
  display: inline-block;
  background-color: #4200FF;
  border-radius: 5px;
  p {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 24px; /* 150% */
  }
}
.item-listing__label--new {
  display: inline-block;
  position: relative;
  top: -381px;
  left: 32px;
  background-color: #AF39E7;
  border-radius: 5px;
  p {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 24px;
  }
}
.item-listing__label--disc {
  display: inline-block;
  position: relative;
  top: -381px;
  left: 32px;
  background-color: #EA33C0;
  border-radius: 5px;
  p {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 24px;
  }
}

.nonlabel {
  position: relative;
  bottom: -31px;
}
.item-listing__add-to-basket {
  display: block;
  margin: 0 auto;
  width: 242px;
  height: 40px;
  color: #F8FDFE;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  background: #4C394E;
  &:hover {
    transition: 0.3s;
    background-color: #a483a8;
  }
}

.item-listing__end-up-btn {
  display: block;
  margin: 0 auto;
  width: 242px;
  height: 40px;
  color: #F8FDFE;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  background: #4D762D;
  &:hover {
    transition: 0.3s;
    background-color: #7fc24c;
  }
}
.chat-icon {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #10BBD5;
  position: fixed;
  right: 29px;
  bottom: 25px;
  z-index: 1;
}
.chat-icon img {
  position: relative;
  left: 0px;
  top: 4px;
}

.chatbtn {
  border-radius: 100%;
  width: 64px;
  height: 64px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.chatbtn:hover {
  transition: 0.3s;
  background-color: #065965;
}
footer {
  height: 88px;
  background-color: #4C394E;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer p {
  padding-top: 32px;
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}